body {
    text-align: center;
    background: url("https://ak2.picdn.net/shutterstock/videos/16719202/thumb/1.jpg");
    background-size: cover;
}

h1 {
font-family: 'IM Fell Great Primer', serif;

}
